modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[agent]
expertMode = true

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19927
externalPort = 80
